body {
    background-image: url("../public/BG2.jpg");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    min-height: 100vh;  
    /* overflow: hidden; */
    color: black;
     font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  
}

.questions{
    
transform: translate(600px,15%);
font-size: 22px;
background-color: #fdfdfd;
width: 500px;
padding: 20px;
border-radius: 22px;

}

.header{
  display: flex;
  justify-content: space-between;
}

.header h5{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 12px;
 
}
.time-up{
  background-color: red;
  color: black;
  padding: 5px;
  border-radius: 12px;
}

h3{
    text-align: center;
}
.option-label {
  display: flex;
  margin: 8px 0;
  font-size: 26px;
  cursor: pointer;

}

input[type="radio"] {
  margin-right: 8px;
}


.actions{
    display: flex;
    justify-content: space-around;
}

.scorecard{
 
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
  /* transform: translate(-250px,-250px); */
  border-radius: 22px;
  width: 700px;
 transform: translate(300px,0px);
}

.result-btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}